{
    "allowed_origins": [],
    "cluster_uri": "qdb://127.0.0.1:2836",
    "cluster_public_key_file": "/usr/share/qdb/cluster_public.key",
    "tls_certificate": "/etc/qdb/qdb_rest.cert.pem",
    "tls_key": "/etc/qdb/qdb_rest.key.pem",
    "tls_host": "localhost",
    "tls_port": 40000,
    "assets": ""
}
