{
    "allowed_origins": [],
    "cluster_uri": "qdb://127.0.0.1:2836",
    "cluster_public_key_file": "C:/Program Files/quasardb/share/cluster_public.key",
    "tls_certificate": "C:/Program Files/quasardb/conf/qdb_rest.cert.pem",
    "tls_key": "C:/Program Files/quasardb/conf/qdb_rest.key.pem",
    "host": "localhost",
    "port": 40000,
    "log": "C:/Program Files/quasardb/log/qdb_rest.log",
    "assets": "C:/Program Files/quasardb//assets"
}
